<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
   <!--Start filter used for all applications -->
   <filter>
       <filter-name>XSSFilter</filter-name>
       <filter-class>com.attacklabs.xssfilter.XSSFilter</filter-class>
   </filter>
   <!--End filter used for all applications -->
   
   <!--Start filter mapping used for all applications -->
   <filter-mapping>
       <filter-name>XSSFilter</filter-name>
       <url-pattern>/*</url-pattern>
   </filter-mapping>
   <!--End filter mapping used for all applications -->
   
   <!--Start servlets common for all applications-->
   <servlet>
       <servlet-name>Captcha</servlet-name>
       <servlet-class>nl.captcha.servlet.CaptchaServlet</servlet-class>
       <init-param>
           <param-name>cap.border</param-name>
           <param-value>yes</param-value>
       </init-param>
       <!--color of the border. Legal values are r,g,b(and optional alpaha) or white,black,etc. Other values will be ignored-->
       <init-param>
           <param-name>cap.border.c</param-name>
           <param-value>black</param-value>
       </init-param>
       <!--thickness of the border around captcha. Legal values are > 0 other values will be ignored. Defaults to one-->
       <init-param>
           <param-name>cap.border.th</param-name>
           <param-value>1</param-value>
       </init-param>
       <init-param>
           <param-name>cap.obscurificator</param-name>
           <!--<param-value>nl.captcha.obscurity.imp.ShadowGimpyImp</param-value>-->
           <!--<param-value>nl.captcha.obscurity.imp.WaterRiple</param-value>-->
           <param-value>nl.captcha.sandbox.TestGimpyImp</param-value>
       </init-param>
       <init-param>
           <param-name>cap.cap.producer</param-name>
           <param-value>nl.captcha.obscurity.DefaultCaptchaIml</param-value>
       </init-param>
       <init-param>
           <param-name>cap.word.imp</param-name>
           <param-value>nl.captcha.text.imp.DefaultWordRenderer</param-value>
       </init-param>
       <init-param>
           <param-name>cap.text.producer</param-name>
           <!--<param-value>nl.captcha.sandbox.ChineseTextProducer</param-value>-->
           <param-value>nl.captcha.text.imp.FiveLetterFirstNameTextCreator</param-value>
       </init-param>
       <init-param>
           <param-name>cap.char.arr</param-name>
           <param-value>2,3,4,6,7,8,a,b,c,d,e,f,g,h,k,o,r,s,t,x,y</param-value>
       </init-param>
       <!--if default captcha producer is slelected this value represents the amount of chars that are supplied in the captcha. values below 2 are not exepted when omitted defaults to 5-->
       <init-param>
           <param-name>cap.char.arr.l</param-name>
           <param-value>6</param-value>
       </init-param>
       <init-param>
           <param-name>cap.font.arr</param-name>
           <param-value>Arial,Helvetica,Courier,TimesRoman</param-value>
       </init-param>
       <init-param>
           <param-name>cap.font.size</param-name>
           <param-value>40</param-value>
       </init-param>
       <init-param>
           <param-name>cap.font.color</param-name>
           <param-value>166,31,255</param-value>
       </init-param>
       <init-param>
           <param-name>cap.bg.imp</param-name>
           <param-value>nl.captcha.obscurity.imp.DefaultBackgroundImp</param-value>
       </init-param>
       <!--values can be either red,yellow,blue,cya etc or r,g,b,alpha value-->
       <init-param>
           <param-name>cap.background.c.to</param-name>
           <param-value>255,255,255</param-value>
       </init-param>
       <init-param>
           <param-name>cap.background.c.from</param-name>
           <param-value>75,75,255</param-value>
       </init-param>
       <init-param>
           <param-name>cap.noise.imp</param-name>
           <param-value>nl.captcha.obscurity.imp.DefaultNoiseImp</param-value>
       </init-param>
       <init-param>
           <param-name>cap.noise.c</param-name>
           <param-value>166,31,255</param-value>
       </init-param>
   </servlet>
   <servlet>
       <servlet-name>InitServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.InitServlet</servlet-class>
       <init-param>
           <param-name>PROPERTY_FILE_LOC</param-name>
           <param-value>/sga.properties</param-value>
       </init-param>
       <load-on-startup>1</load-on-startup>
       </servlet>
   <servlet>
       <servlet-name>EcomMyebayLogin</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.LoginServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>EcomMystoreLogin</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.LoginServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>EcomMyEbayCategory</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.CategoryServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>EcomMyEbayAuthenticate</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.LoginServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>ProductServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ProductServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>ProdDescServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ProductServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>AddCartServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ShoppingCartServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>UpdateCartServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ShoppingCartServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>CheckoutServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.CheckoutServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>CartServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ShoppingCartServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>ShipDetailServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.CheckoutServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>RegisterServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.RegisterServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>RegisterSubServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.RegisterServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>ProfileServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.RegisterServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>UpdateProfileServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.RegisterServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>AddProductServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ProductServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>ProductSubServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ProductServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>UpdateProductServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ProductServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>LogoutServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.LoginServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>UpdateProductSubServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ProductServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>ForgotPassServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.LoginServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>ForgotPassSubServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.LoginServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>ResetPassServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.LoginServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>ResetPassSubServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.LoginServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>ContactusServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ContactusServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>ContactusSubServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ContactusServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>AddReviewServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ProductServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>SearchServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ProductServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>SearchSubServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ProductServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>WishlistServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ShoppingCartServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>WishlistSubServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ShoppingCartServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>WishlistDelServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ShoppingCartServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>ListWishlistServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ShoppingCartServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>SaveCartServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.ShoppingCartServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>AdminServlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.AdminServlet</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>AdminAppFilter</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.AdminServlet</servlet-class>
   </servlet>
   <servlet><servlet-name>ChangePassServlet</servlet-name><servlet-class>com.myappsecurity.sga.servlet.LoginServlet</servlet-class></servlet>
   <servlet>
       <servlet-name>Checkout1Servlet</servlet-name>
       <servlet-class>com.myappsecurity.sga.servlet.CheckoutServlet</servlet-class>
   </servlet>
   <!--End servlets common for all applications-->
   
   <!--Start Servlet mapping for common servlets accross all aplications-->
   <servlet-mapping>
       <servlet-name>Captcha</servlet-name>
       <url-pattern>/Captcha.jpg</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>InitServlet</servlet-name>
       <url-pattern>/InitServlet</url-pattern>
   </servlet-mapping>
   <!--End Servlet mapping for common servlets accross all aplications-->
   
   <!--Start Servlet mapping for Ecommerce based aplications-->
   <!--Start Servlet mapping for Ecommerce based aplication (My Ebay)-->
   <servlet-mapping>
       <servlet-name>EcomMyebayLogin</servlet-name>
       <url-pattern>/ecom-myebay/login</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>EcomMystoreLogin</servlet-name>
       <url-pattern>/ecom-mystore/login</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>EcomMyEbayCategory</servlet-name>
       <url-pattern>/ecom-myebay/category</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>EcomMyEbayAuthenticate</servlet-name>
       <url-pattern>/ecom-myebay/authenticate</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ProductServlet</servlet-name>
       <url-pattern>/ecom-myebay/product</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ProdDescServlet</servlet-name>
       <url-pattern>/ecom-myebay/productdesc</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>AddCartServlet</servlet-name>
       <url-pattern>/ecom-myebay/addcart</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>UpdateCartServlet</servlet-name>
       <url-pattern>/ecom-myebay/updcart</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>CheckoutServlet</servlet-name>
       <url-pattern>/ecom-myebay/checkout</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>CartServlet</servlet-name>
       <url-pattern>/ecom-myebay/cart</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ShipDetailServlet</servlet-name>
       <url-pattern>/ecom-myebay/shipdet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>RegisterServlet</servlet-name>
       <url-pattern>/ecom-myebay/register</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>RegisterSubServlet</servlet-name>
       <url-pattern>/ecom-myebay/registersub</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ProfileServlet</servlet-name>
       <url-pattern>/ecom-myebay/profile</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>UpdateProfileServlet</servlet-name>
       <url-pattern>/ecom-myebay/updateprofile</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>AddProductServlet</servlet-name>
       <url-pattern>/ecom-myebay/addproduct</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ProductSubServlet</servlet-name>
       <url-pattern>/ecom-myebay/productsub</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>UpdateProductServlet</servlet-name>
       <url-pattern>/ecom-myebay/updateproduct</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>LogoutServlet</servlet-name>
       <url-pattern>/ecom-myebay/logout</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>UpdateProductSubServlet</servlet-name>
       <url-pattern>/ecom-myebay/updateproductsub</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ForgotPassServlet</servlet-name>
       <url-pattern>/ecom-myebay/forgotpass</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ForgotPassSubServlet</servlet-name>
       <url-pattern>/ecom-myebay/forgotpasssub</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ResetPassServlet</servlet-name>
       <url-pattern>/ecom-myebay/resetpass</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ResetPassSubServlet</servlet-name>
       <url-pattern>/ecom-myebay/resetpasssub</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ContactusServlet</servlet-name>
       <url-pattern>/ecom-myebay/contact</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ContactusSubServlet</servlet-name>
       <url-pattern>/ecom-myebay/contactsub</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>AddReviewServlet</servlet-name>
       <url-pattern>/ecom-myebay/addreview</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>SearchServlet</servlet-name>
       <url-pattern>/ecom-myebay/search</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>SearchSubServlet</servlet-name>
       <url-pattern>/ecom-myebay/searchsub</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>WishlistServlet</servlet-name>
       <url-pattern>/ecom-myebay/wishlist</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>WishlistSubServlet</servlet-name>
       <url-pattern>/ecom-myebay/wishlistsub</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>WishlistDelServlet</servlet-name>
       <url-pattern>/ecom-myebay/delwishlist</url-pattern>
   </servlet-mapping>
   <servlet-mapping><servlet-name>ListWishlistServlet</servlet-name><url-pattern>/ecom-myebay/listwishlist</url-pattern>
   </servlet-mapping>
   <servlet-mapping><servlet-name>SaveCartServlet</servlet-name><url-pattern>/ecom-myebay/savecart</url-pattern></servlet-mapping>

   <servlet-mapping>
       <servlet-name>AdminServlet</servlet-name>
       <url-pattern>/admin/console</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>AdminAppFilter</servlet-name>
       <url-pattern>/admin/appfilter</url-pattern>
   </servlet-mapping>
   <servlet-mapping><servlet-name>ChangePassServlet</servlet-name><url-pattern>/ecom-myebay/changepass</url-pattern></servlet-mapping>
   <servlet-mapping>
       <servlet-name>Checkout1Servlet</servlet-name>
       <url-pattern>/ecom-myebay/checkout1</url-pattern>
   </servlet-mapping>
   <!--End Servlet mapping for Ecommerce based aplication (My Ebay)-->
   <!--End Servlet mapping for Ecommerce based aplications-->
   <session-config>
       <session-timeout>
           30
       </session-timeout>
   </session-config>
   </web-app>
